<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="index.html">lorenzo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="interactive.html">Bulls Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="informational.html">About Scottie Pippen and the Chicago Bulls</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Scottie Pippen Information Links
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.basketball-reference.com/players/p/pippesc01.html">Scottie Pippen NBA Career Averages </a>
                    <a class="dropdown-item" href="https://www.basketball-reference.com/players/p/pippesc01.html#all_totals-playoffs_totals"> NBA Total Stats</a>
                    <a class ="dropdown-item" href= "https://www.basketball-reference.com/players/p/pippesc01.html#all_all_college_stats"> College Stats </a>
                    <a class="dropdown-item" href="https://sports.jrank.org/pages/3755/Pippen-Scottie-Awards-Accomplishments.html">Awards Won</a>
                </ul>
              </li>
        </ul>
    </div>
</div>
</nav>

